/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: #ffffff;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #00ccff;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: left;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #ffffff;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ffffff;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}
footer {
  height: 200px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  background-color: #f2f2f2;
  padding: 10px 0;
  color: #ffffff;
  font-size: .85rem;
  font-family: 'Work Sans', sans-serif;
  background-color: #00ccff;
  text-decoration: none;
}
.inner {
  margin: 0 auto;
  width: 768px;
}
.lists {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
#footer .lists dl {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: .8rem;
}
dl {
  line-height: 1.5rem;
  font-weight: normal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dt {
  text-decoration: none;
}
.lists dl dt span {
  font-weight: 800;
  font-size: 20px;
}
dd {
  text-decoration: none;
  color: #ffffff;
  margin: 5px;
}
.lists dl dd a {
  text-decoration: none;
  font-weight: normal;
  color: #ffffff;
}
p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 15px;
  color: #000000;
}
#footer p{
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 10px;
  float: left;
  bottom: -10px;
  left: 0px;
}

.top-image {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Work Sans', sans-serif;
  font-size: 40px;
  color: #ffffff;
  font-weight: 200;
}
.top-image img {
  width: 100%;
  height: 400px;
}