/* styles.css */
nav {
    height: 50px;
    text-align:center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    background-color: #00ccff;
    top: 0;
    left: 0;
}
nav ul {
    display:inline-block;
    width: 60%;
    height: 100%;
}
nav ul li about {
    width: 40px;
}
nav ul li cs {
    width: 100px
}
nav ul li a {
    line-height: 2.6em;
    padding: 0 1.5em;
    display: inline-block;
    position: relative;
    margin: 0 .5em;
    padding-left: 1.6em;
    vertical-align: middle;
    font-family: 'Mulish', sans-serif;
    height: 100%;
    background-color: #00ccff;
    color: #FFFFFF;
}
nav ul li a img{
    vertical-align: middle;
}