/* styles.css */
header {
    background: url(../img/header-bg.jpg) left top no-repeat;
    background-size: 100% 100%;
    min-height: 400px;
    position: relative;
    }

/* navigation */
nav {
    text-align:center;
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #72aa21;
    position: absolute;
    bottom: 0;
    }
nav ul {
    display:inline-block;
    }
nav li {
    display: inline;
    }
nav ul li a {
    line-height: 2.6em;
    padding: 0 1.5em;
    display: inline-block;
    position: relative;
    margin: 0 .5em;
    padding-left: 1.6em;
    }